.auth {
    display: flex;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }

    &-header {
        font-weight: 500;
        font-size: #{scaleValue(25)};
        margin-top: #{scaleValue(20)};

        @media only screen and (max-width: 768px) {
            font-size: #{scaleValue(60)};
            margin-bottom: #{scaleValue(80)};
        }
    }

    &__left {}

    &__img {
        width: #{scaleValue(700)};
        position: relative;
        flex-shrink: 0;
        height: 100vh;

        @media only screen and (max-width: 768px) {
            width: 100vw;
            height: 25vh;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba($font-black, .6);
            z-index: 1;
        }

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__right {
        padding: #{scaleValue(100)};
        color: $font-black;
        background: rgba($primary-orange, .06);
        min-height: 100vh;
        width: #{scaleValue(900)};

        @media only screen and (max-width: 768px) {
            width: 100vw;
            min-height: 80vh;
        }
    }
}