$padding-side-hook: #{scaleValue(100)};
$padding-side-hook-mobile: #{scaleValue(50)};

.hook {
    color: $font-black;
    position: relative;

    &__headerburger {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;

        display: none;
        margin-top: #{scaleValue(40)};

        @media only screen and (max-width: 768px) {
            display: flex;
        }

        & span {
            border-radius: 3rem;
            height: #{scaleValue(10)};
            width: #{scaleValue(100)};
            background: $primary-blue;
            display: inline-block;
            margin-bottom: #{scaleValue(20)};
            justify-content: space-between;
        }
    }

    &__header {
        position: fixed;
        top: 0;
        left: 0;
        height: #{scaleValue(130)};
        width: 100vw;
        background: $background;
        z-index: 5;
        border-bottom: 1px solid $deep-blue;
        padding: 0 $padding-side-hook;

        @media only screen and (max-width: 768px) {
            height: #{scaleValue(280)};
            padding: #{scaleValue(50)} #{scaleValue(110)};
            overflow: hidden;

            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        }

        &.mobile_menu_open {
            height: #{scaleValue(130)};

            @media only screen and (max-width: 768px) {
                height: 100vh;
            }
        }

        &--body {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 0 $padding-side-hook;
            padding-bottom: #{scaleValue(20)};

            @media only screen and (max-width: 768px) {
                position: relative;
                padding: 0;
            }
        }

        &--topbodylogo {
            margin-bottom: #{scaleValue(80)};
            display: flex;
            align-items: center;

            & p {
                display: flex;
                align-items: center;

                & span {

                    &:nth-child(1) {
                        color: $primary-blue;
                        font-size: #{scaleValue(20)};
                        font-weight: 500;

                        @media only screen and (max-width: 768px) {
                            font-size: #{scaleValue(110)};
                        }
                    }

                    &:nth-child(2) {
                        color: orangered;
                        font-size: #{scaleValue(16)};

                        @media only screen and (max-width: 768px) {
                            font-size: #{scaleValue(80)};
                        }
                    }
                }
            }
        }

        &--topbody {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 88%;
            position: absolute;
            top: #{scaleValue(-16)};

            @media only screen and (max-width: 768px) {
                flex-direction: column;
                align-items: flex-start;
                position: relative;
            }
        }

        &--topbodymenu {
            display: flex;
            align-items: center;

            @media only screen and (max-width: 768px) {
                flex-direction: column;
            }
        }

        &--topbodymenuitem {
            display: inline-block;
            margin-left: #{scaleValue(60)};
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;

            cursor: pointer;
            text-decoration: none !important;

            @media only screen and (max-width: 768px) {
                margin-left: 0;
                font-size: #{scaleValue(80)};
                margin-bottom: #{scaleValue(100)};
            }

            & figure {
                height: #{scaleValue(20)};
                width: #{scaleValue(20)};
                margin-right: #{scaleValue(10)};

                @media only screen and (max-width: 768px) {
                    height: #{scaleValue(100)};
                    width: #{scaleValue(100)};
                }

                & img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        &--bottombody {
            display: flex;

            margin-top: #{scaleValue(50)};
        }

        &--bottombodymenu {
            display: flex;

            @media only screen and (max-width: 768px) {
                flex-direction: column;
                margin-left: 0;
                font-size: #{scaleValue(80)};
            }

            & span {
                display: inline-block;
                margin-right: #{scaleValue(90)};
                position: relative;
                cursor: pointer;

                @media only screen and (max-width: 768px) {
                    margin-bottom: #{scaleValue(100)};
                }

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: red;
                    width: 100%;
                    height: .2rem;
                    transition: all .5s ease;
                    transform: 0;
                    opacity: 0;
                }

                &.current {
                    color: $font-black;

                    &::before {
                        opacity: 1;
                        transition: all .5s ease;
                        transform: translateY(#{scaleValue(20)});
                    }
                }
            }
        }

        &--figurelo {
            height: #{scaleValue(30)};
            width: #{scaleValue(30)};
            border-radius: 100%;
            overflow: hidden;

            @media only screen and (max-width: 768px) {
                height: #{scaleValue(100)};
                width: #{scaleValue(100)};
            }

            & img {
                object-fit: cover;
                height: 60%;
                width: 60%;
            }
        }
    }

    &__content {}

    &__sectionheader {
        font-weight: 400;
        font-size: #{scaleValue(30)};
        margin-bottom: #{scaleValue(30)};
        text-align: center;

        @media only screen and (max-width: 768px) {
            font-size: #{scaleValue(100)};
            padding: 0 #{scaleValue(30)};
        }
    }

    &__jumbotron {
        position: relative;
        margin-top: #{scaleValue(130)};
        height: #{scaleValue(500)};

        @media only screen and (max-width: 768px) {
            margin-top: #{scaleValue(278)};
            height: #{scaleValue(2100)};
        }
    }

    &__jumbotrontext {
        position: absolute;
        top: 0;
        left: 0;
        height: #{scaleValue(500)};
        width: 100vw;
        background: rgba(0, 0, 0, 0.7);
        z-index: 2;
        color: $font-white;
        padding: #{scaleValue(100)} $padding-side-hook;

        @media only screen and (max-width: 768px) {
            height: #{scaleValue(2100)};
        }

        &--header {
            width: #{scaleValue(700)};

            @media only screen and (max-width: 768px) {
                width: 100%;
            }

            & h1 {
                font-weight: 400;
                font-size: #{scaleValue(50)};
                line-height: #{scaleValue(63)};

                @media only screen and (max-width: 768px) {
                    font-size: #{scaleValue(150)};
                    line-height: #{scaleValue(206)};
                    margin-top: #{scaleValue(130)};
                }
            }
        }

        &--subheader {
            margin-top: #{scaleValue(40)};
            width: #{scaleValue(700)};

            @media only screen and (max-width: 768px) {
                width: 100%;
                margin-top: #{scaleValue(130)};
            }

            & p {
                font-size: #{scaleValue(19)};
                line-height: #{scaleValue(31)};

                @media only screen and (max-width: 768px) {
                    font-size: #{scaleValue(80)};
                    line-height: #{scaleValue(100)};
                }
            }
        }

        &--auth {
            margin-top: #{scaleValue(40)};

            @media only screen and (max-width: 768px) {
                margin-top: #{scaleValue(170)};
            }

            & button {
                border-radius: 3rem;
                font-size: #{scaleValue(18)};

                @media only screen and (max-width: 768px) {
                    font-size: #{scaleValue(70)};
                    padding: #{scaleValue(80)} #{scaleValue(80)};
                }
            }
        }
    }

    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        height: #{scaleValue(500)};
        width: 100%;
        z-index: 1;

        @media only screen and (max-width: 768px) {
            height: #{scaleValue(2100)};
        }

        & figure {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            opacity: 0;
            transition: .5s ease;

            &.current_jumbotron_img {
                opacity: 1;
            }

            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &__featuresgrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0 $padding-side-hook;

        @media only screen and (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
            padding: 0 $padding-side-hook-mobile;
        }

        &--box {
            padding: 20px;
            border-radius: 8px;
            text-align: left;

            & figure {
                height: #{scaleValue(50)};
                width: #{scaleValue(50)};
                margin-bottom: #{scaleValue(50)};

                @media only screen and (max-width: 768px) {
                    height: #{scaleValue(250)};
                    width: #{scaleValue(260)};
                    margin-bottom: #{scaleValue(120)};
                }

                & img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            & h2 {
                font-weight: 400;
                font-size: #{scaleValue(20)};
                margin-bottom: #{scaleValue(40)};

                @media only screen and (max-width: 768px) {
                    font-size: #{scaleValue(99)};
                    margin-bottom: #{scaleValue(100)};
                }

            }

            & p {
                font-weight: 400;
                font-size: #{scaleValue(15)};
                margin-bottom: #{scaleValue(40)};

                @media only screen and (max-width: 768px) {
                    font-size: #{scaleValue(70)};
                    margin-bottom: #{scaleValue(100)};
                }
            }
        }

        &--btn {
            cursor: pointer;

            & a {
                text-decoration: none;
                color: $deep-blue;
                cursor: pointer;

                @media only screen and (max-width: 768px) {
                    font-size: #{scaleValue(70)};
                }
            }
        }
    }

    &__section {
        padding: #{scaleValue(100)} 0;

        &.one {
            background: rgba(#d2d2d8, .6);
        }

        &.two {
            height: #{scaleValue(607)};

            @media only screen and (max-width: 768px) {
                display: none;
            }
        }

        &.three {
            padding-bottom: 0;
        }

        &.four {
            padding-bottom: 0;
        }
    }

    &__midmenu {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        border-bottom: 1px solid $deep-blue;

        &--label {
            cursor: pointer;
            position: relative;
            color: $font-black;

            font-size: #{scaleValue(15)};
            padding-bottom: #{scaleValue(20)};

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 3rem;
                width: 100%;
                height: .1rem;
                background: transparent;
            }

            &.current {

                &::before {
                    background: $deep-blue;
                }
            }
        }
    }

    &__padding {
        padding: 0 $padding-side-hook;
    }

    &__midmenucards {
        margin-top: #{scaleValue(50)};
    }

    &__midmenucard {
        display: grid;
        grid-template-columns: #{scaleValue(670)} 1fr;
        position: relative;
        overflow: hidden;
        position: absolute;
        width: 90%;
        height: #{scaleValue(400)};
        transition: all .5s ease;
        opacity: 0;
        color: $font-black;

        &.current {
            opacity: 1;
        }

        &--img {
            height: 100%;

            & img {
                height: 100%;
                width: 100%;
            }
        }

        &--details {
            padding-left: #{scaleValue(50)};

            & h2 {
                margin-top: #{scaleValue(30)};
                font-weight: 400;
                font-size: #{scaleValue(25)};
                margin-bottom: #{scaleValue(25)};
            }

            & p {
                font-size: #{scaleValue(20)};
                margin-bottom: #{scaleValue(100)};
                font-weight: 300;
            }

            & button {
                font-size: #{scaleValue(14)};
            }
        }
    }

    &__bluebox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: #{scaleValue(407)};
        border-radius: .4rem;
        overflow: hidden;

        @media only screen and (max-width: 768px) {
            height: auto;
            grid-template-columns: repeat(1, 1fr);
        }

        &--img {


            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &--blue {
            background: rgba($deep-blue, .6);
            padding: #{scaleValue(60)};

            color: $font-white;

            & label {
                @media only screen and (max-width: 768px) {
                    font-size: #{scaleValue(70)};
                    margin-bottom: #{scaleValue(80)};
                }
            }

            & h2 {
                margin-top: #{scaleValue(30)};
                font-weight: 400;
                font-size: #{scaleValue(25)};
                margin-bottom: #{scaleValue(25)};

                @media only screen and (max-width: 768px) {
                    font-size: #{scaleValue(70)};
                    margin-bottom: #{scaleValue(80)};
                }
            }

            & p {
                font-size: #{scaleValue(20)};
                margin-bottom: #{scaleValue(100)};
                font-weight: 300;

                @media only screen and (max-width: 768px) {
                    font-size: #{scaleValue(70)};
                }
            }

            & button {
                font-size: #{scaleValue(14)};
                background: transparent !important;
                border: 1px solid $font-white;

                @media only screen and (max-width: 768px) {
                    font-size: #{scaleValue(70)};
                }
            }
        }
    }

    &__footer {
        background: $primary-blue;

        @media only screen and (max-width: 768px) {
            padding-top: #{scaleValue(130)};
            padding-bottom: #{scaleValue(130)};
        }

        &--email {
            color: $font-white;

            @media only screen and (max-width: 768px) {
                font-size: #{scaleValue(70)};
                margin-bottom: #{scaleValue(70)};
            }
        }

        &--aboutheader {
            margin-bottom: #{scaleValue(30)};

            & h2 {
                font-size: #{scaleValue(20)};

                @media only screen and (max-width: 768px) {
                    font-size: #{scaleValue(70)};
                    margin-bottom: #{scaleValue(70)};
                }

                & span {

                    &:nth-child(1) {
                        color: $font-white;
                        font-size: #{scaleValue(20)};
                        font-weight: 500;

                        @media only screen and (max-width: 768px) {
                            font-size: #{scaleValue(100)};
                        }
                    }

                    &:nth-child(2) {
                        color: orangered;
                        font-size: #{scaleValue(16)};

                        @media only screen and (max-width: 768px) {
                            font-size: #{scaleValue(80)};
                        }
                    }
                }
            }
        }

        &--content {
            padding: #{scaleValue(30)} 0;

            display: flex;
            flex-direction: column;
        }

        &--about {
            width: #{scaleValue(800)};
            color: $font-white;
            margin-bottom: #{scaleValue(30)};

            @media only screen and (max-width: 768px) {
                width: auto;
            }
        }

        &--abouttext {
            line-height: #{scaleValue(25)};

            @media only screen and (max-width: 768px) {
                font-size: #{scaleValue(80)};
                line-height: #{scaleValue(100)};
            }
        }

        &--menuheader {
            font-weight: 500;
            font-size: #{scaleValue(20)};
            color: $font-white;
            margin-bottom: #{scaleValue(30)};

            @media only screen and (max-width: 768px) {
                font-size: #{scaleValue(100)};
                margin-bottom: #{scaleValue(90)};
            }
        }

        &--menuarea {
            margin-bottom: #{scaleValue(30)}
        }

        &--menu {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1rem;

            @media only screen and (max-width: 768px) {
                grid-template-columns: repeat(1, 1fr);
            }
        }

        &--menuitem {
            display: flex;
            flex-direction: column;

            @media only screen and (max-width: 768px) {
                margin-bottom: #{scaleValue(120)};
            }


            & span {

                &:nth-child(1) {
                    color: $font-white;
                    font-weight: 400;
                    font-size: #{scaleValue(17)};
                    margin-bottom: #{scaleValue(20)};

                    @media only screen and (max-width: 768px) {
                        font-size: #{scaleValue(80)};
                    }
                }

                &:nth-child(2) {
                    color: $font-white;
                    line-height: #{scaleValue(25)};

                    @media only screen and (max-width: 768px) {
                        font-size: #{scaleValue(70)};
                        line-height: #{scaleValue(100)};
                    }
                }
            }
        }
    }
}

.hook__header--topbodymenuitem {
    text-decoration: none;
}

.hook__header--topbodymenuitem:hover,
.hook__header--topbodymenuitem:focus,
.hook__header--topbodymenuitem:active {
    text-decoration: none;
}