.jumbotron {
    background: $deep-blue;
    padding: $section-padding;
    padding-top: #{scaleValue(100)};
    height: #{scaleValue(800)};
    display: flex;
    justify-content: space-between;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: #{scaleValue(800)};
        width: 100%;
        background: rgba($deep-blue, .6);
        z-index: 2;
    }

    @media only screen and (max-width: 414px) {
        height: #{scaleValue(3000)};
        flex-direction: column-reverse;
        padding-top: #{scaleValue(200)};
        justify-content: flex-end
    }

    &__strand {
        color: transparent;
        position: absolute;
        right: 0;
        width: 100vw;
        height: #{scaleValue(800)};
        top: 0;
        z-index: 1;

        @media only screen and (max-width: 414px) {
            height: #{scaleValue(3000)};
        }

        & img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        &.map {
            right: 0;
            transform: scale(.6) translateX(396px) translateY(47px);

            @media only screen and (max-width: 414px) {
                display: none;
            }
        }
    }

    &__left {
        position: relative;
        z-index: 3;

        &--h1 {
            color: #fff;
            font-size: #{scaleValue(115)};
            line-height: #{scaleValue(110)};
            margin-bottom: #{scaleValue(30)};

            @media only screen and (max-width: 414px) {
                font-size: #{scaleValue(200)};
                line-height: #{scaleValue(230)};
            }
        }

        &--h2 {
            font-weight: 400;
            line-height: #{scaleValue(35)};
            font-size: #{scaleValue(24)};
            margin-bottom: #{scaleValue(30)};

            @media only screen and (max-width: 414px) {
                font-size: #{scaleValue(90)};
                line-height: #{scaleValue(130)};
                display: flex;
                flex-direction: column;

                margin-bottom: #{scaleValue(190)};
            }
        }
    }

    &__right {
        position: relative;
        z-index: 3;

        @media only screen and (max-width: 414px) {
            display: flex;
            justify-content: center;

            margin-bottom: #{scaleValue(300)};
        }

        & figure {
            width: #{scaleValue(500)};
            height: #{scaleValue(600)};

            @media only screen and (max-width: 414px) {
                width: #{scaleValue(1700)};
                height: #{scaleValue(1700)};
            }

            & img {
                object-fit: contain;
                height: 100%;
                width: 100%;
            }
        }
    }
}