.landingoffers {
    padding: $section-padding;
    background: $font-white;
    padding-top: #{scaleValue(150)};
    padding-bottom: #{scaleValue(150)};
    color: $font-black;
    font-size: #{scaleValue(25)};

    @media only screen and (max-width: 414px) {
        padding: #{scaleValue(400)} #{scaleValue(80)};
    }


    &__sectionone {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 414px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__sectionone--card {
        width: #{scaleValue(430)};
        text-align: center;

        @media only screen and (max-width: 414px) {
            width: #{scaleValue(1200)};
            margin-bottom: #{scaleValue(320)};
        }

        & figure {
            width: #{scaleValue(430)};
            height: #{scaleValue(430)};

            @media only screen and (max-width: 414px) {
                width: #{scaleValue(1200)};
                height: #{scaleValue(1200)};
            }

            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        & label {
            display: inline-block;
            margin-top: #{scaleValue(40)};
            line-height: #{scaleValue(35)};

            @media only screen and (max-width: 414px) {
                margin-top: #{scaleValue(100)};
                font-size: #{scaleValue(100)};
                line-height: #{scaleValue(130)};
            }
        }
    }

    &-centerbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: #{scaleValue(130)};
    }
}