:root {
    --ideal-viewport-width: 1600;
}

@function scaleValue($value) {
    @return calc(#{$value} * (clamp(350px, 100vw, 3840px) / var(--ideal-viewport-width)));
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background: $background;
    min-height: #{scaleValue(700)};
    color: $font-white;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: #{scaleValue(15)};
}

/* Create a styles rule for the scrollbar itself */
::-webkit-scrollbar {
    width: #{scaleValue(5)};
    /* adjust the width of the scrollbar */
    height: 100vh;
    /* make the scrollbar tall enough to cover the entire page */
    background-color: rgba(#fff, .1);
    /* set the color of the scrollbar */
    border-radius: 10px;
    /* round the corners of the scrollbar */
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
    /* add a subtle shadow effect to the scrollbar */
}

/* Style the thumb (the small square that moves along the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #ff4b44;
    /* set the color of the thumb */
    border-radius: 10px;
    /* round the corners of the thumb */
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
    /* add a subtle shadow effect to the thumb */
}

/* Style the track (the part of the scrollbar that the thumb moves along) */
::-webkit-scrollbar-track {
    background-color: rgba(#fff, .1);
    /* set the color of the track */
    border-radius: 10px;
    /* round the corners of the track */
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2);
    /* add a subtle shadow effect to the track */
}